<% content_for :title do %>项目详情<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>项目名称</td>
      <td><%= @project.title %></td>
    </tr>
    <tr>
      <td>项目描述</td>
      <td><%= @project.description %></td>
    </tr>
  </tbody>
  </table>
